<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sở Thông tin và Truyền thông Hải Phòng - Sách và ước mơ của em</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://releases.transloadit.com/uppy/v2.8.0/uppy.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/boostrap.min.css" />


    <style type="text/css">
        html,
        body,
        .ui,
        .uppy-Root,
        input {
            font-family: 'Comfortaa', sans-serif !important;
        }
        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }
        .wireframe {
            margin-top: 2em;
        }
    </style>
</head>

<body>
    <div class="ui fixed inverted menu" style="background-color: #E42F36;">
        <div class="ui container" style="padding: 0;">
            @* <a href="#" class="header item">
                <img class="logo" src="assets/images/logo.png">
                Project Name
                </a> *@
            <a href="/" class="item">Trang chủ</a>
            @*<a href="/bai-thi" class="item">Tham gia thi</a>*@
            <a class="item" href="/the-le">Thể lệ thi</a>
        </div>
    </div>

    <div class="ui main text" style="margin-top: 4em;">
        @RenderBody()
    </div>

    <script src="/_content/HP_Learning.Module.MainPage/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://releases.transloadit.com/uppy/v2.8.0/uppy.min.js"></script>
    <script src="https://releases.transloadit.com/uppy/locales/v2.0.8/vi_VN.min.js"></script>
    <script src="/_content/HP_Learning.Module.MainPage/js/site.js" asp-append-version="true"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ldt-SYfAAAAAIT42-L9Slx7IjQ6TV1gjCW-sQdL"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.semanticui.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
