@{
    ViewData["Title"] = "Danh sách bài thi";
} 
<div class="ui container">
    <table id="table" class="ui celled table" style="border-top: none">
    </table>
</div>


<link rel="stylesheet" href="/_content/HP_Learning.Module.MainPage/js/review/index.css" />
